.custom-row{
	border: 1px solid #666;
    border-radius: 5px;
	padding: 0.4em;
	font-size: 1.2em;
	margin: 0.9em;
	cursor: pointer;
}
#owner-login{
	font-size: 0.8em;
	color: #555;
}
.radio.selected{
    background-color: #C1E0F7;
}
.container {
	width: 60%;
    margin: 0 auto;
}
.title {
	font-size: 1.2em;
}